{% extends 'bubi/index_base.html' %}

{% block pagetitle %}
	Rychlé občerstvení na objednávku
{% endblock %}

{% block content %}
	{% if produkty %}
			<div class="row">
		{% for produkt in produkty %}
				<div class="col-md-3 col-sm-6">
					<div class="single-shop-product">
						<div class="product-upper">
							{% if produkt.obrazek %}
								<img src="{{ produkt.obrazek.url }}" alt="{{ produkt.nazev }}">
							{% endif %}
						</div>
						<h2><a href="">{{ produkt.nazev }}</a></h2>
						<div class="product-carousel-price">
							<ins>{{ produkt.cena }},- Kč</ins>
						</div>
						<div class="product-option-shop">
							<a class="add_to_cart_button" href="{% url 'produkt' pk=produkt.pk %}">Přejít k popisu</a>
						</div>
					</div>
				</div>
		{% endfor %}
			</div>
	{% else %}
		<div class="row"><div class="col-md-12">Zatím v této kategorii nemáme žádné produkty. :-)</div></div>
	{% endif %}
{% endblock %}

{% block menu %}
	{% if k == 'burgery' %}
	<li class="active"><a href="{% url 'kategorie' kat='burgery' %}">Burgery</a></li>
	{% else %}
	<li><a href="{% url 'kategorie' kat='burgery' %}">Burgery</a></li>
	{% endif %}
	{% if k == 'special' %}
	<li class="active"><a href="{% url 'kategorie' kat='special' %}">Burgery speciál</a></li>
	{% else %}
	<li><a href="{% url 'kategorie' kat='special' %}">Burgery speciál</a></li>
	{% endif %}
	{% if k == 'kalamary' %}
	<li class="active"><a href="{% url 'kategorie' kat='kalamary' %}">Kalamáry</a></li>
	{% else %}
	<li><a href="{% url 'kategorie' kat='kalamary' %}">Kalamáry</a></li>
	{% endif %}
	{% if k == 'prilohy' %}
	<li class="active"><a href="{% url 'kategorie' kat='prilohy' %}">Přílohy</a></li>
	{% else %}
	<li><a href="{% url 'kategorie' kat='prilohy' %}">Přílohy</a></li>
	{% endif %}
	{% if k == 'napoje' %}
	<li class="active"><a href="{% url 'kategorie' kat='napoje' %}">Nápoje</a></li>
	{% else %}
	<li><a href="{% url 'kategorie' kat='napoje' %}">Nápoje</a></li>
	{% endif %}
{% endblock menu %}