{% extends 'bubi/index_base.html' %}

{% block pagetitle %}
	Detail produktu
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="single-shop-product">
				<div class="product-upper">
					{% if produkt.obrazek %}
						<img src="{{ produkt.obrazek.url }}" alt="{{ produkt.nazev }}">
					{% endif %}
				</div>
				<h2><a href="">{{ produkt.nazev }}</a></h2>
				<div class="product-carousel-price">
					<ins>{{ produkt.cena }},- Kč</ins>
				</div>
				<div class="product-option-shop">
					<p>{{ produkt.popis }}</p>
					<a class="add_to_cart_button" href="{% url 'kategorie' kat=produkt.kategorie.jmeno %}">Zpět do nabídky</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}