<!doctype html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
		<title>[{{ rider }}] Sledovani</title>
		<meta name="viewport" contents="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		
		<style>
			#map {
				height: 100%;
			}
			
			html, body {
				height: 100%;
				margin: 0;
				padding: 0;
			}
			
			body header {
				margin-top: 40px;
				margin-left: 20px;
				margin-bottom: 30px;
				font-size: 150%;
			}
		</style>
	</head>
	<body>
		<header>
			<p>delka: {{ rider.delka }}</p>
			<p>sirka: {{ rider.sirka }}</p>
			<p>update: {{ rider.up }}</p>
		</header>
		
		<div id="map"></div>
		
		<script src="https://cws.ceda.cz/mapserver/api/loader.js"></script>
		<script>
			lat = {{ rider.delka }};
			lng = {{ rider.sirka }};
			Ext.onReady(function() {
				MP.initialize('cz');
				MP.setProxy('');
				MP.mapWindow = new MP.MapWindow({
					renderTo: 'map',
					zoom: 15,
					initCenter: [lat, lng],
					items: [
						new MP.MapUI.Navigation({components:['ALL']})
					]
				});
				
				var mPoint = new OpenLayers.Geometry.Point(lat, lng).transform(MP.mapWindow.map.displayProjection, MP.mapWindow.map.projection);
				
				var vectorLayer = new OpenLayers.Layer.Vector("drawing");
				vectorLayer.addFeatures(new OpenLayers.Feature.Vector(
					mPoint, // geometry
					{}, // null   ---- WHY
					{ // style
						externalGraphic: 'car.png',
						graphicWidth: 25,
						graphicHeight: 25
					}
				));
				MP.mapWindow.map.addLayer(vectorLayer);
			});
			if (navigator.geolocation) navigator.geolocation.watchPosition(positionUpdate);			
			function positionUpdate(pos) {
				mLonLat = new OpenLayers.Geometry.LonLat(pos.coords.latitude, pos.coords.longitude).transform(MP.mapWindow.map.displayProjection, MP.mapWindow.map.projection);
				vectorLayer.features[0].move(mLonLat);
				vectorLayer.redraw(true);
				MP.mapWindow.map.layers[0].redraw(true);
			}
		</script>
		
		<!--<script>
			/*function initMap() {
				var map = new google.maps.Map(document.getElementById('map'), {
					center: {
						lat: {{ rider.delka }},
						lng: {{ rider.sirka }}
					},
					zoom: 16
				});
				
				var infoWindow = new google.maps.InfoWindow({map: map});
				
				// zkusime HTML Geolocation
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(function(position) {
						var pos = {
							lat: position.coords.latitude,
							lng: position.coords.longitude
						};
						
						infoWindow.setPosition(pos);
						infoWindow.setContent('A mame te! [{{ rider }}]');
						map.setCenter(pos);
						updateModelAJAX(pos.lat, pos.lng);
					}, function() {
						handleLocationError(true, infoWindow, map.getCenter());
					});
				} else {
					handleLocationError(false, infoWindow, map.getCenter());
				}
			}
			
			function handleLocationError(browserHasGeo, infoWindow, pos) {
				infoWindow.setPosition(pos);
				infoWindow.setContent(browserHasGeo ? 
														'Chyba! Geolokace spadla...' :
														'Chyba! Tvuj prohlizec nepodporuje geolokaci...');
			}
			
			function updateModelAJAX(dlat, dlng) {
				var csrftoken = $.cookie('csrftoken');
				$.ajaxSetup({
					beforeSend: function(xhr, settings) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				});
				$.post('', {lat:dlat,lng:dlng}, function (data, status) {
					//alert('Data: ' + data + '; Status: ' + status);
				});
				//console.log(dlat + ', ' + dlng);
			}*/
		</script>
		
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAB8HPYGXSs_Ip3Wo1OIC7sI0m_DGTS34&callback=initMap"></script>-->
	</body>
</html>